* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: #212121;
}

address {
  font-style: normal;
}

a {
  color: #212121;
  text-decoration: none;
}
p {
  line-height: 1.71;
  color: #757575;
  margin: 0;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.66;
  margin: 0;
}

h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.14;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

/* components */

.btn {
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: #ffffff;
  background: #2196f3;

  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.logo-accent {
  color: #2196f3;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contacts {
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts a {
  color: #757575;
}

.contacts a:hover {
  color: #2196f3;
}

/* /components */

/* header  */

.header {
  padding: 25px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
}

.header .navigation {
  display: flex;
}

.header .menu,
.header .contacts {
  display: flex;
  align-items: center;
}

.header .menu li {
  margin-right: 50px;
}

.header .menu li:last-child {
  margin-right: 0;
}

.header .contacts li {
  margin-right: 50px;
}

.header .contacts li:last-child {
  margin-right: 0;
}

.header .navigation .logo {
  margin-right: 93px;
}
.navigation a:hover {
  color: #2196f3;
}

/* /header  */

/* hero */
.hero {
  background-color: #2f303a;
  padding: 195px 200px;
}

.hero .container {
  text-align: center;
}

.hero h1 {
  margin-bottom: 35px;
}
/* /hero */

/* advantages */

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
}

.list-advantages {
  display: flex;
}

.list-advantages li {
  margin-right: 30px;
}

.list-advantages li:last-child {
  margin-right: 0;
}

/* /advantages */

/* services */

.services {
  padding-bottom: 94px;
}

.services .container {
  text-align: center;
}

.list-services {
  display: flex;
}

.list-services li {
  margin-right: 30px;
}

.list-services li:last-child {
  margin-right: 0;
}

.services h2 {
  margin-bottom: 50px;
}

/* /services */

/* .team */

.section-team {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: #f5f4fa;
}

.section-team .container {
  text-align: center;
}
.team {
  display: flex;
}

.team li {
  margin-right: 30px;
}

.team li:last-child {
  margin-right: 0;
}

.section-team h2 {
  margin-bottom: 50px;
}

.team h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 30px;
  margin-bottom: 10px;
}

/* /team */

/* filter-section */

.filter-section .container {
  display: flex;
  justify-content: center;
}

.filter {
  display: flex;
  text-align: center;
  margin-bottom: 50px;
}

.filter li {
  margin-right: 8px;
  margin-bottom: 30px;
}

.filter li:last-child {
  margin-right: 0;
}

.filter button {
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  background-color: #f5f4fa;
  border: none;
  margin: 6px 22px;
}

.filter button:hover {
  background: #2196f3;
  color: #ffffff;
}

/* /filter-section */

/* cards */

.cards p {
  font-size: 16px;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards li {
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  width: 370px;
}

.cards li:nth-child(3n + 3) {
  margin-right: 0;
}

.cards li img {
  width: 100%;
}
.cards h3 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.cards h3,
.cards p {
  margin-left: 24px;
}

/* /cards */

/* footer */

.footer {
  background: #2f303a;
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.address .contacts {
  display: flex;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}

.tel {
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.footer p {
  line-height: 1.71;
  color: #ffffff;
  margin-bottom: 5px;
}

.footer .contacts a {
  color: rgba(255, 255, 255, 0.6);
}

.footer .contacts li {
  margin-bottom: 5px;
}

.footer .contacts li:last-child {
  margin-bottom: 0;
}
