body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: #212121;
}

address {
  font-style: normal;
}

/* components */
a {
  color: #212121;
  text-decoration: none;
}
p {
  line-height: 1.71;
  color: #757575;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  /* color: #ffffff; */
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.66;
}

h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.14;
}

.btn {
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
}

/* /components */

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.logo-accent {
  color: #2196f3;
}

.footer .logo {
  /* color: #ffffff; */
}

.advantages h3 {
  text-transform: uppercase;
}

.navigation a:hover {
  color: #2196f3;
}

.contacts a:hover {
  color: #2196f3;
}

.contacts a {
  color: #757575;
}

.contacts {
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.tel {
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.footer .p {
  line-height: 1.71;
  /* color: #FFFFFF; */
}

.footer .contacts a {
  color: rgba(255, 255, 255, 0.6);
}

.filter button {
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
}

.filter button:hover {
  background: #2196f3;
  color: #ffffff;
}

.cards p {
  font-size: 16px;
}

.team h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
